*
!.gitignore
# /etc/supervisord.conf
/*
!/etc
/etc/*
!/etc/supervisord.conf

# /etc/nginx/nginx.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf

# /home/isucon/webapp/go/build.sh
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/go
/home/isucon/webapp/go/*
!/home/isucon/webapp/go/build.sh

# /home/isucon/webapp/go/app.go
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/go
/home/isucon/webapp/go/*
!/home/isucon/webapp/go/app.go

# /opt/rotate.sh
/*
!/opt
/opt/*
!/opt/rotate.sh

# /home/isucon/.vimrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.vimrc

# /home/isucon/webapp/go/Makefile
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/webapp
/home/isucon/webapp/*
!/home/isucon/webapp/go
/home/isucon/webapp/go/*
!/home/isucon/webapp/go/Makefile

# /root/.vimrc
/*
!/root
/root/*
!/root/.vimrc

